body { 
    background-color: white;
}

h1 {
    color: black;
}

input {
    width: 700px;
    height: 50px;
    float: left;
    margin-top: 770px;
}

button {
    margin-top: 770px;
    width: 130px;
    height: 56px;
}

messages {
   border-style: solid; 
}